[submodule "bundle-available/nerdtree"]
	path = bundle-available/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle-available/snipmate.vim"]
	path = bundle-available/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle-available/vim-colors-solarized"]
	path = bundle-available/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle-available/synctastic"]
	path = bundle-available/synctastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle-available/jslint"]
	path = bundle-available/jslint
	url = http://github.com/hallettj/jslint.vim
[submodule "bundle-available/vim-fugitive"]
	path = bundle-available/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle-available/localvimrc"]
	path = bundle-available/localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "bundle-available/delmitmate"]
	path = bundle-available/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle-available/ctrlp"]
	path = bundle-available/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle-available/neverland"]
	path = bundle-available/neverland
	url = https://github.com/trapd00r/neverland-vim-theme
[submodule "bundle-available/vim-coffee-script"]
	path = bundle-available/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
